html, body {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

select {
    position: relative;
    width: 700px;
    height: 50px;
    background-color: white;
    border: dashed darkblue 2px;
    border-radius: 10px;
}

citylist {
    float:right;
    margin-top: 50px;
    margin-right: 50px;
    width:300px;
    position:relative;
    display: inline-block;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    width: auto;
    background-color: white;
    border: solid black;
    border-radius: 10px;
}

input[type=submit] {
    padding: 10px;
    margin: 10px;
    width: auto;
    background-color: white;
    border: solid black;
    border-radius: 10px;
}

input[type=text] {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#addcity {
    position: relative;
    height: 100px;
    float: left;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
}

